@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
.nav_bar {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #c22e09;
  color: white;
  font-family: 'Lora', serif;
  font-style: normal;
} 

h1, h2, h3, h4, h5, h6 span {
  font-family: 'Lora', serif;
  font-style: normal;
}

h1 {
  font-size:36px;
}

p {
  line-height:1.5;
  font-size:16px;
  font-family: 'Lora', serif;
  font-style: normal;
}

li {
  list-style-type: none;
}

.nav_bar__logo {
  margin-left: 80px;
  font-size: 28px; 
  font-weight: bold;
}

.nav_bar__links {
  margin: 0 12px;
  color: #242424;
    list-style-type: none;
    display:flex;
    gap: 20px;
  text-decoration: none;
  font-weight: 700px;
} 

.nav_bar__links a {
  color:#ffffff;
 text-decoration: none;
} 

.nav__link--anchor {
  margin: 0 12px;
  color: #242424;
  text-decoration: none;
  font-weight: 700;
}

.nav__link--anchor-primary {
background-color: rgb(163, 13, 13);
padding: 8px 16px;
border-radius:4px;
color:white;
transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: rgb(255, 69, 0);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transform: translateY(-2px);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 40px;
  background-color: #f7f7f7;

}


/* ABOUT ME: SECTION */

.about-me-section {
  display:flex;
}
.about-me-section-1 {
flex: 1;
}

.row {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

#about-me {
  min-height: 120vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.about-me__header {
  display:flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
max-width:1000px;
margin: 0 auto;
}

.about-me__profile-picture--mask {
  border-radius: 50%;
  max-width: 250px;
  min-height: 250px;
  overflow:hidden;
  box-shadow: 0 18px 16px rgba(0,0,0 0.16);
  margin-bottom: 28px;
}
.about-me__profile-picture {
 width: 100%;
}

.about-me__info--title {
  margin-bottom: 16px;

}

.about-me__info--description {
  font-size: 20px;
  margin-bottom:28px;
}

.card {
  background-color: orangered;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 250px;
  text-align: center;
  padding: 20px;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}
